.btn {
  display: inline-block;
  background-color: #7C01C7;
  border: none;
  border-radius: 15px;
  padding: 20px 50px;
  font-family: $inter;
  font-size: 18px;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  min-width: 200px;
  text-align: center;

  transition: box-shadow .2s ease-in-out;

  @media (max-width: 1028px) {
      & {
        font-size: 16px;
      }
  }

  &--outline {
    background-color: transparent;
    border: 3px solid #7C01C7;
    color: #7C01C7;
    padding: 17px 51px;
  }

  & + & {
    margin-left: 40px;
  }

  &__close {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
  }

  &--yellow {
    border: 3px solid #FFCE44;
    background: #FFCE44;
    color: #7C01C7;
    font-size: 16px;
    padding: 20px 50px;

    &:hover {
      box-shadow: 1px 1px 40px 15px rgba(255, 206, 68, 0.15) !important;
    }
  }

  &--light {
    border: 3px solid #FFFFFF;
    background: transparent;
    color: #FFFFFF;
    font-size: 16px;
    padding: 20px 60px;

    &:hover {
      box-shadow: 1px 1px 40px 15px rgba(255, 255, 255, 0.15) !important;
    }
  }

  &:hover {
    box-shadow: 1px 1px 20px 5px rgba(130, 48, 234, 0.15);
  }
}

